<!DOCTYPE html>
<html lang="en">
<body>
    <script type="text/javascript">
        localStorage.setItem('sessionID', '<%= sessionID %>');
        window.location.replace('/');
    </script>
</body>
</html>
